{% extends "page2.html" %}

{% block content %}

<div class="all">
    <div class="four">
        <div class="first">
            <div class="card" id="card2">	
                <div class="card-content">	
                    <canvas id="bar-chart" height="220" width="370"></canvas>
                </div>				
            </div>
            <div class="card" id="card3">	
                <div class="card-content">
                    <canvas id="bubble-chart" height="220" width="450"></canvas>	
                </div>
            </div>
        </div>
        <div class="second">
            <div class="card" id="card4">		
                <div class="card-content">
                    <canvas id="bar2-chart" height="220" width="450"></canvas>	
                </div>
            </div>
            <div class="card" id="card5">		
                <div class="card-content">
                    <canvas id="bar3-chart" height="220" width="450"></canvas>	
                </div>
            </div>
        </div>
    </div>
    
</div>
{% endblock %}
{% block no_content %}

{% endblock %}